
.my_turn{:style=>"#{my_turn ? '' : 'display:none'}" }
  Your move
.opponent_turn{:style=>"#{my_turn ? 'display:none' : '' }" }
  Opponent move



%div.board_wrapper
  - cells_count = rows.to_i * cols.to_i
  - rows.to_i.times do |y|
    %br
    - cols.to_i.times do |x|
      - cell_x = x
      - cell_y = rows.to_i - y - 1
      - cell_id = cell_x + cell_y*cols.to_i
      %div.cell{'data-user'=>"#{session_id}", :x => cell_x, :y =>cell_y, 'data-cell_id' => cell_id }

:javascript

  jQuery(document).ready(function($) {

    // Disable cells for initial turn:
    if ("#{my_turn}" == 'false') {
      $('.cell').addClass('disabled')
    }

    $('.cell').hover(
      function () {
        // Skip selected and disabled cells:
        if (!$(this).hasClass('selected') && !$(this).hasClass('disabled')) {
          $(this).addClass("#{my_color_class}");
        }
      },
      function () {
        if (!$(this).hasClass('selected')) {
          $(this).removeClass("#{my_color_class}");
        }
      }
    );
    $('.cell').click(function(){
      if ($(this).hasClass('disabled')) {
        //nothingto do
      } else {
        $.post('/players/player_turn', {x: $(this).attr('x'), y: $(this).attr('y')   })
      }

    });
  });


